.scene {
  height: 100vh;
  animation: scene 5s;
  -moz-animation: scene 5s;
  -webkit-animation: scene 5s;
  -o-animation: scene 5s;
}

@keyframes scene
{
  from {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
  }
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes scene
{
  from {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    height: 100vh;
  }
  to {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    height: 100vh;
  }
}

.panoramas {
  width: 100%;
  height: 161px;
  background: rgba(88,88,90,0.7);
  position: absolute;
  bottom: 0;
  padding: 14px 10px;
  overflow-x: scroll;
  ul {
    padding: 0;
  }
}

.panorama_list {
  width: 160px;
  height: 118px;
  display: inline-flex;
  margin: 0 10px;
  img {
    width: 148px;
    height: 86px;
    border: 6px solid white;
  }
}

.panorama_list:hover {
  cursor: pointer;
}
